{% load static %}
<html>

<head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
</head>

<body>
    <main>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Klinik</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'pegawai' %}" class="nav-link {% if active_pegawai %}
                    {{ active_pegawai }}
                {% else %}
                    text-white
                {% endif %}" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home"></use>
                        </svg>
                        Pegawai
                    </a>
                </li>
                <li>
                    <a href="{% url 'poli' %}" class="nav-link 
                        {% if active_poli %}
                            {{ active_poli }}
                        {% else %}
                            text-white
                        {% endif %}
                    ">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        Poli
                    </a>
                </li>
                <li>
                    <a href="{% url 'jadwal' %}" class="nav-link 
                    {% if active_jadwal %}
                        {{ active_jadwal }}
                    {% else %}
                        text-white
                    {% endif %}">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Jadwal Dokter
                    </a>
                </li>

            </ul>
            <hr>
            
        </div>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}

        </div>
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
</body>

</html>